apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: default
type: Opaque
data:
  DB_HOST: "MzUuMTk0LjIuMjU0"   
  DB_NAME: "cHJvZHVjdGRi"       
  DB_USER: "cG9zdGdyZXM="       
  DB_PASS: "cG9zdGdyZXM="       
  DB_PORT: "NTQzMg=="           
